<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>FM Web</title>
    <script>
        /*<![CDATA[*/
        function refresh(event) {
            var x = event.clientX;
            var y = event.clientY;
            var url = window.location.href.split("?")[0]+"?x="+x+"&y="+y;
            window.location.replace(url);
        }
        /*]]>*/
    </script>
</head>
<body>
<div style="width:1366px;height:768px" onclick="refresh(event)">
    <img th:src="@{/images/screen.png}" style="width:100%;height:100%;"/>
</div>
</body>
</html>