<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>FM Web</title>
    <script>
        /*<![CDATA[*/
        document.oncontextmenu = function(){return false};

        function play(event) {
            var e = event || window.event;
            var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
            var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
            var x = e.pageX || e.clientX + scrollX;
            var y = e.pageY || e.clientY + scrollY;
            var url = window.location.href.split("?")[0]+"?x="+x+"&y="+y+"&button="+event.button;
            window.location.replace(url);
        }

        function refresh() {
            var url = window.location.href.split("?")[0];
            window.location.replace(url);
        }
        /*]]>*/
    </script>
</head>
<body>
<div style="width:1920px;height:1080px" onmouseup="play(event)">
    <img th:src="@{/images/screen.png}" style="width:100%;height:100%;"/>
</div>
<button onclick="refresh()">
    refresh
</button>
</body>
</html>